<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040980737017-4op58d8c0adjjhj04kpvvp92q5s8rv19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040980737017-4op58d8c0adjjhj04kpvvp92q5s8rv19</string>
	<key>API_KEY</key>
	<string>AIzaSyCrxVK8FGeTDGAeVpmydwAsvXd3MN30hy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1040980737017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PSJamwal.Instagram2020</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-15321</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-15321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040980737017:ios:8188766aa88ec883bedb28</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-15321.firebaseio.com</string>
</dict>
</plist>
